.Row_wrapper {
  position: relative;
}
.Row_wrapper:first-child {
  padding-top: 30px !important;
}
.Row_wrapper .category_title {
  font-family: "Neo Sans Arabic Bold", Arial, sans-serif;
  font-size: 0.8rem;
  text-align: right;
  margin-right: 10px;
  background-color: #029dbc;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px 23px;
  border-radius: 25px;
}
.Row_wrapper .category_title.more {
  background-color: transparent;
  border: #029dbc 2px solid;
  color: #029dbc;
  border-radius: 1px;
  cursor: pointer;
}
.Row_wrapper .episodes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
}
.Row_wrapper .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media (min-width: 576px) {
  .Row_wrapper {
    padding-top: 60px !important;
    padding-bottom: 25px !important;
    position: relative;
  }
  .Row_wrapper .titlesSection {
    justify-content: center !important;
    flex-direction: column-reverse !important;
  }
  .Row_wrapper .titlesSection .category_title.more {
    width: 100%;
    text-align: center;
  }
  .Row_wrapper .episodes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }
}
@media (min-width: 768px) {
  .Row_wrapper {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
    position: relative;
  }
  .Row_wrapper .titlesSection {
    justify-content: space-between !important;
    flex-direction: row !important;
  }
  .Row_wrapper .titlesSection .category_title.more {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
  .Row_wrapper .episodes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    width: 100% !important;
  }
}
@media (min-width: 992px) {
  .Row_wrapper {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
    position: relative;
  }
  .Row_wrapper .titlesSection {
    justify-content: space-between !important;
    flex-direction: row !important;
  }
  .Row_wrapper .titlesSection .category_title.more {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
  .Row_wrapper .episodes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
  }
}
@media (min-width: 1200px) {
  .Row_wrapper {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
    position: relative;
  }
  .Row_wrapper .titlesSection {
    justify-content: space-between !important;
    flex-direction: row !important;
  }
  .Row_wrapper .titlesSection .category_title.more {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
  .Row_wrapper .episodes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
  }
}
@media (min-width: 1400px) {
  .Row_wrapper {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
    position: relative;
  }
  .Row_wrapper .titlesSection {
    justify-content: space-between !important;
    flex-direction: row !important;
  }
  .Row_wrapper .titlesSection .category_title.more {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
  .Row_wrapper .episodes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
  }
}/*# sourceMappingURL=ContentRow.css.map */