.Row_wrapper {
  position: relative;
  &:first-child {
    padding-top: 30px !important;
  }
  .category_title {
    font-family: "Neo Sans Arabic Bold", Arial, sans-serif;
    font-size: 0.8rem;
    text-align: right;
    margin-right: 10px;
    background-color: #029dbc;
    width: fit-content;
    padding: 9px 23px;
    border-radius: 25px;
    &.more {
      background-color: transparent;
      border: #029dbc 2px solid;
      color: #029dbc;
      border-radius: 1px;
      cursor: pointer;
    }
  }
  .episodes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }
  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .Row_wrapper {
    padding-top: 60px !important;
    padding-bottom: 25px !important;
    position: relative;

    .titlesSection {
      justify-content: center !important;
      flex-direction: column-reverse !important;
      .category_title {
        &.more {
          width: 100%;
          text-align: center;
        }
      }
    }
    .episodes {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .Row_wrapper {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
    position: relative;

    .titlesSection {
      justify-content: space-between !important;
      flex-direction: row !important;
      .category_title {
        &.more {
          width: fit-content;
          text-align: center;
        }
      }
    }
    .episodes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0px;
      width: 100% !important;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .Row_wrapper {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
    position: relative;
    .titlesSection {
      justify-content: space-between !important;
      flex-direction: row !important;
      .category_title {
        &.more {
          width: fit-content;
          text-align: center;
        }
      }
    }
    .episodes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0px;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .Row_wrapper {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
    position: relative;
    .titlesSection {
      justify-content: space-between !important;
      flex-direction: row !important;
      .category_title {
        &.more {
          width: fit-content;
          text-align: center;
        }
      }
    }
    .episodes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0px;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .Row_wrapper {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
    position: relative;
    .titlesSection {
      justify-content: space-between !important;
      flex-direction: row !important;
      .category_title {
        &.more {
          width: fit-content;
          text-align: center;
        }
      }
    }
    .episodes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0px;
    }
  }
}
