@import "../../assets/variables/index.scss";

footer {
  margin-top: 20px;
  background-color: #0a0d14;
  padding: 30px;
  text-align: center;
  font-family: $Ar_Regular;
  color: #949cb0;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .social__links {
    font-size: 1.2rem;
    i {
      &:not(&:first-child) {
        margin-right: 20px;
      }
      &:nth-child(1) {
        color: #163080;
      }
      &:nth-child(2) {
        color: #1ca9e1;
      }
      &:nth-child(3) {
        color: #ce332d;
      }
      &:nth-child(4) {
        color: #4270a3;
      }
      &:nth-child(5) {
        color: #4270a3;
      }
      &:nth-child(6) {
        color: #4270a3;
      }
      &:hover {
        color: #fff;
      }
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  }

  .links {
    a {
      text-decoration: none;
      color: #009ec0;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #fff;
      }
    }
  }
}
