$NeoSans: "Neo Sans";
$Ar_Regular: "Neo Sans Arabic Regular";
$Ar_Light: "Neo Sans Arabic Light";
$Ar_Medium: "Neo Sans Arabic Medium";
$Ar_Bold: "Neo Sans Arabic Bold";
$Ar_Black: "Neo Sans Arabic Black";
$Ar_Ultra: "Neo Sans Arabic Ultra";
$En_Medium: "Neo Sans Medium";
$Gray_Color: #e0e0e0;
